button {
    display: inline;
    margin-top: 1em;
    margin-bottom: 1em;
    /*margin-left: 4em;
    margin-right: 2em;*/
    margin: 1em -7em 0 7em;
    background: #ff9980;
    color: black;
    padding: 3px 7px;
    font-family: Calibri, sans-serif;
    font-size: 19px;
    border-radius: 50px;

}

header {
    margin-top: auto;
    margin-bottom: 7px;
    margin-left: 150;
    margin-right: 175;
    background-color: #3D3D29;
    text-align: center;
    color: white;
    font-family: Calibri, sans-serif;
    border-bottom: 10px solid #646454;
}
header h1 {
    display: block;
    margin-top: 7px;
    margin-bottom: 30px;
    text-align: center;
 }

footer {
     display: block;
     margin-top: 7px;
     margin-bottom: auto;
     margin-left: 150;
     margin-right: 175;
     background-color: #3d3d29;
     font-family: Calibri, sans-serif;
     color: white;
     border-top: 10px solid #646454;

  }

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
 }

body {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
  }

/*h1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
} */

nav ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

nav li {
    display: inline;
    border-width: 1px 1px 0 1px;
    margin: 0 -10px 0 0;
    border: 2px solid #3d3d29;
    padding: 15px 20px; 
    background: #00cc99;
    /*width: 300px;*/
}

nav li a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

div.temp {
     display: block;
     margin-top: 5em;
     margin-bottom: 300px;
  }

div.mainpage {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 150;
    margin-right: 175;
    background-color: #ebfff5;
 }


p {
    font-family: Calibri, sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

h4 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20;
    margin-right: 0;
}

h3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 0;
}

ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display:inline;
    margin: 5px;
    border: 1px solid #ffffff;
 }

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

ol {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    line-height: 2em;
}
