header {
    margin-top: -35px;
    margin-bottom: 10px;
    margin-left: 150;
    margin-right: 175;
    background-color: #E9967A;
}

h1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
}

/*nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
}
*/
nav li {
    display: inline;
    border-width: 1px 1px 0 1px;
    margin: 0 -10px 0 0;
    border: 2px solid #a1a1a1;
    padding: 15px 20px; 
    background: #008000;
    /*width: 300px;*/
}

nav li a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 19px;
}

div.footer {
     display: block;
     margin-top: -20px;
     margin-bottom: 1em;
     margin-left: 150;
     margin-right: 175;
     background-color: #483D8B;
     font-family: Calibri, sans-serif;
     color: white
  }

/*div {
     display: block;
     margin-top: 5em;
     margin-bottom: 5em;
     margin-left: 150;
     margin-right: 150;
     background-color: #cccccc;
  }
*/
div.mainpage {
              display: block;
              margin-top: -20px;
              margin-bottom: 1em;
              margin-left: 150;
              margin-right: 175;
              background-color: #8FBC8F;
  }


p {
    font-family: Calibri, sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

h4 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20;
    margin-right: 0;
}

ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

body {
      background-color: white;
  }
