button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 175;
    background: #ff9980;
    color: black;
    padding: 20px 55px;
    font-family: Calibri, sans-serif;
    font-size: 19px;
    border-radius: 50px;

}

header {
    margin-top: -35px;
    margin-bottom: 10px;
    margin-left: 150;
    margin-right: 175;
    background-color: #3D3D29;
    color: white;
}

h1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
}

/*nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
}
*/
nav li {
    display: inline;
    border-width: 1px 1px 0 1px;
    margin: 0 -10px 0 0;
    border: 2px solid #3d3d29;
    padding: 15px 20px; 
    background: #00cc99;
    /*width: 300px;*/
}

nav li a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

div.footer {
     display: block;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 150;
     margin-right: 175;
     background-color: #3d3d29;
     font-family: Calibri, sans-serif;
     color: white
  }


/*div {
     display: block;
     margin-top: 5em;
     margin-bottom: 5em;
     margin-left: 150;
     margin-right: 150;
     background-color: #cccccc;
  }
*/
div.mainpage {
              display: block;
              margin-top: 1em;
              margin-bottom: 1em;
              margin-left: 150;
              margin-right: 175;
              /*background-color: #8FBC8F;*/
              background-color: #ebfff5;
  }


p {
    font-family: Calibri, sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

h4 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20;
    margin-right: 0;
}

h2 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 0;
}

ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50;
    margin-right: 50;
}

body {
      background-color: white;
  }

img {
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 150;
     margin-right 150;
     width: 700px;
     height: 500px;
}

ol.settingup {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 150;
    margin-right: 150;
}
