{% extends "base.html" %}

{% block content %}

<h3> Assembling case for Raspberry Pi</h3>

<div class="temp">

    <div class="img">
      <a target="_blank" href="/gettingstarted/assemblingpi/stepone">
        <img src="/home/serine/website/images/step1.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step one</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="/gettingstarted/assemblingpi/steptwo">
        <img src="/home/serine/website/images/step2.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step two</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step3.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step three</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step4.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step four</div>
    </div>

    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step5.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step five</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step6.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Sep six</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step7.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step seven</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/caseparts.jpg" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Step eight</div>
    </div>

</div>

{% endblock %}
