{% extends "base.html" %}

{% block content %}

<div style="margin: 1em 1em 1em 1em;">
<h3> Assembling case for Raspberry Pi</h3>

<h4>Step one:</h4>
<ol>
 <li>Take all parts related to Raspberry Pi case. There should be six plastic pieces</li>
 <li>Pill of clear plastic film of individual part. You should be able to see clearly throught
     plastic</li>
 <li>Align five out of six pieces as shown on the figure 1 below</li>  
</ol>
<img src="/home/serine/website/images/step1.JPG" alt="Step one raspberry pi assembly">
<h5>Figure: 1</h5>
</div>

<div style="margin: -30em 1em 1em 1em;">
<h4>Step two:</h4>
<ol>
 <li>Attach case sides as show on the figure 2</li>  
</ol>
<img src="/home/serine/website/images/step2.JPG" alt="Step two raspberry pi assembly">
<h5>Figure: 2</h5>
</div>

<div style="margin: -30em 1em 1em 1em;">
<h4>Step three:</h4>
<ol>
 <li>Insert Raspberry Pi inside the case make sure all ports align with the case</li>  
</ol>
<img src="/home/serine/website/images/step3.JPG" alt="Step three raspberry pi assembly">
<h5>Figure: 3</h5>

<h4>Step four:</h4>
<ol>
 <li>Carfully attach front side as shown on the figure 4</li>  
 <li>Attach bottom part of the side first then the click the top part in</li>  
</ol>
<img src="/home/serine/website/images/step4.JPG" alt="Step four raspberry pi assembly">
<h5>Figure: 4</h5>

<h4>Step five:</h4>
<ol>
 <li>Insert lid as show on the figure 5</li>  
 <li>Take care inserting the lid, the case may come appart</li>  
</ol>
<img src="/home/serine/website/images/step5.JPG" alt="Step five raspberry pi assembly">
<h5>Figure: 5</h5>

<h4>Step six:</h4>
<ol>
 <li>Close the lid as shown on the figure 6</li>  
</ol>
<img src="/home/serine/website/images/step6.JPG" alt="Step six raspberry pi assembly">
<h5>Figure: 6</h5>

{% endblock %}
