{% extends "base.html" %}

{% block content %}

<div class="image">
    <h3> Assembling case for Raspberry Pi</h3>
    
    <h4>Step one:</h4>
    <img src="/home/serine/website/images/step1.JPG" alt="Step one raspberry pi assembly">
    <p id="figure">
    <b> Figure: 1</b> Take all parts related to Raspberry Pi case. There should be six plastic pieces.
    <br> Pill of clear plastic film of individual part. You should be able to see clearly throught
     plastic. <br> Align five out of six pieces as shown  
    </p>
</div>

<div class="image">
    <h4>Step two:</h4>
    <img src="/home/serine/website/images/step2.JPG" alt="Step two raspberry pi assembly">
    <p id="figure">
        <b>Figure: 2</b> Attach case sides as shown
    </p>
</div>

<div class="image">
    <h4>Step three:</h4>
    <img src="/home/serine/website/images/step3.JPG" alt="Step three raspberry pi assembly">
    <p id="figure">
    <b>Figure: 3</b> Insert Raspberry Pi inside the case make sure all ports align with the case
    </p>  

</div>

<div class="image">
    <h4>Step four:</h4>
    <img src="/home/serine/website/images/step4.JPG" alt="Step four raspberry pi assembly">
    <p id="figure"><b>Figure: 4</b> Carfully attach front side as shown. Attach bottom part of
     the side first then <br> the click the top part in 
    </p>
</div>

<div class="image">
    <h4>Step five:</h4>
    <img src="/home/serine/website/images/step5.JPG" alt="Step five raspberry pi assembly">
    <p id="figure"><b>Figure: 5</b> Insert lid as shown. Take care inserting the lid, the case may
     come appart  
    </p>
</div>

<div class="image">
    <h4>Step six:</h4>
    <img src="/home/serine/website/images/step6.JPG" alt="Step six raspberry pi assembly">
    <p id="figure"><b>Figure: 6</b> Close the lid as shown 
    </p> 
</div>


<form method="post">
    <button name="item" value="back2parts">Back</button>
    <button name="item" value="checkpirepheries">Check all the pirepheries</button>
</form>

{% endblock %}
