{% extends "base.html" %}

{% block content %}

<div class="temp">

    <h3> Assembling case for Raspberry Pi</h3>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step1.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step2.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step3.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    
    <div class="img">
      <a target="_blank" href="klematis_big.htm">
        <img src="/home/serine/website/images/step4.JPG" alt="Klematis" width="110" height="90">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

</div>

{% endblock %}
