<!DOCTYPE HMTL>

<html>

    <head>
        <title>Raspberry Pi project</title>
        <link rel="stylesheet" type="text/css" href="/home/serine/website/2page_style.css">

    </head>

        <header>
            <h1>This is a raspberry Pi project</h1>
            <nav>
                <ul>
                    <li><a href="this.html">Raspberry Pi</a></li>
                    <li><a href="/home/serine/website/1page.html">Setting up</a></li>
                    <li><a href="theOther.html">Resources</a></li>
                    <li><a href="banana.html">Minecraft Pi</a></li>
                    <li><a href="banana.html">The Shell</a></li>
                </ul>
            </nav>
        </header>

    <body>
  
        {% block content %}
        {% endblock %}

        <div class="footer">
            <br>
            <footer>
                <p>Posted by: Kirill Tsyganov</p>
                <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
            </footer>
            <br>
        </div> 
    </body>
</html>
