<!DOCTYPE HMTL>

<html>

    <head>
        <title>Raspberry Pi project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="website on getting Raspberry Pi for the first time and setting it up with Raspbian"
              content="text">
        <meta name="keyword" content="Have you got your first Raspberry Pi? YAY!!!">
        <link rel="stylesheet" type="text/css" href="/home/serine/website/stylesheets/main.css">
    </head>

    <body>

        <header>
            </br>
            <h1><a href="/">Have you got your first Raspberry Pi? YAY!!!</a></h1>
            <nav class="nav">
                <ul>
                    <li class="current"><a href="/raspberrypi">Raspberry Pi</a></li>
                    <li><a href="/gettingstarted">Getting Started</a></li>
                    <li><a href="/learninglinux">Linux and CLI</a></li>
                    <li><a href="/commandsbasics">Linux Commands</a></li>
                    <li><a href="/bootingup">Booting Up</a></li>
                    <li><a href="http://pi.minecraft.net/?p=57">Games</a></li>
                </ul>
            </nav>
        </header>

        <div class="mainpage">
            <br> 
            {% block content %}
            {% endblock %}
            <br>
        </div>
        
        <footer>
            <p>
             Posted by: Kirill Tsyganov
            </p>

            <p>
             Contact information: <a href="mailto:tskiril@gmail.com">Contact via email</a>
            </p>
            <br>
        </footer>

    </body>
</html>
