<!DOCTYPE HMTL>

<html>

    <head>
        <title>Raspberry Pi project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/home/serine/website/stylesheets/main.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
        </script>

        <script type="text/javascript">
        jQuery(document).ready(function($){
        
        	/* prepend menu icon */
        	$('#nav-wrap').prepend('<div id="menu-icon">Menu</div>');
        	
        	/* toggle nav */
        	$("#menu-icon").on("click", function(){
        		$("#nav").slideToggle();
        		$(this).toggleClass("active");
        	});
        
        });
        </script>
    </head>

    <body>

        <header>
            </br>
            <h1><a href="/">Have you got your first Raspberry Pi? YAY!!!</a></h1>
            <nav class="nav">
                <ul>
                    <li class="current"><a href="/raspberrypi">Raspberry Pi</a></li>
                    <li><a href="/gettingstarted">Getting Started</a></li>
                    <li><a href="/learninglinux">Linux and CLI</a></li>
                    <li><a href="/commandsbasics">Linux Commands</a></li>
                    <li><a href="/bootingup">Booting Up</a></li>
                    <li><a href="http://pi.minecraft.net/?p=57">Games</a></li>
                </ul>
            </nav>
        </header>

        <div class="mainpage">
            <br> 
            {% block content %}
            {% endblock %}
            <br>
        </div>
        
        <footer>
            <p>
             Posted by: Kirill Tsyganov
            </p>

            <p>
             Contact information: <a href="mailto:tskiril@gmail.com">Contact via email</a>
            </p>
            <br>
        </footer>

    </body>
</html>
