{% extends "base.html" %}

{% block content %}

<h3>Lets Boot Up your Raspberry Pi!</h3>

<p>
 You are almost there! You have got your first Raspberry Pi and have taken it out of the box. It look
 great! Doesn't it? You have got your case asssembled and all pirepheries are connected and you are keen
 as bean to turn it on. Well, go right ahead and turn it on by simply pluging it into power socket. 
 <br>
 <br>
 You will see text running up the screen - Yes, Raspberry Pi is alive ! What you see on the screen is
 <a href="learninglinux/cliinto">CLI</a>. Now you will understand why there was all this talk about Linux
 and <a href="learninglinux/cliinto">CLI</a> before hand.
 <br> 
 <br> 
 You will see at the bottom of the screen login prompt <span id="white">raspberrypi login:</span> and you
 will need to login into your Raspberry Pi
</p>

<ul>
     <li> <span id="white">user: pi</span></li>
     <li> <span id="white">password: raspberry</span></li>
</ul>

<p>
 <span id="note">Note: when you are going to type in the password there will be nothing appering on the
  scree. This is Linux feature preventing people looking over your shoulder and at least seeing how long
  your password is.</span>
</p>
<p id="prompt">
 Once you have logged in you should see command-line prompt like this <span id="green">
 pi@raspberrypi<span id="blue"> ~ $</span></span>. Your prompt will change depending where abouts in the
 file system you are. Your prompt will change everytime you change directories <b>e.g</b> if you change
 into <span id="white">python_games/</span> directory by typing <span id="white">cd python_games/</span>
 and press enter, your promopt will now look like this
 <span id="green">pi@raspberrypi<span id="blue"> ~ /python_games $ </span></span>. 
</p>

<p>
 Here is some useful links for when you are ready to dig a bit deeper into
 <a href="/raspberrypi"> Raspberry Pi</a>, <a href="/learninglinux">Linux</a> and
 <a href="http://www.raspbian.org">Raspbian</a>:
</p>

<ul>
    <li><a href="http://www.raspberrypi.org/documentation">Official Raspberry Pi Documentation</a></li>
    <li><a href="http://www.raspberrypi.org/documentation/raspbian/updating.md">Information about
        updating and upgrading Raspbian</a>
    </li>
    <li><a href="http://www.raspberrypi.org/documentation/usage/terminal/">A bit more on CLI</a>
    </li>
</ul>
       

<h3>Conclusion</h3>

<p>
 I would love to share much more with you about Linux, CLI  and different commands, but I shall pause this
 discussion for now. Even though this is just a tip of an iceberg as far as understanding of Linux and 
 Linux commands goes, it never the less a very important step towards mastering and enjoying Linux and CLI.
 <br>
 <br>
 Hopefully I was able to teach you some of the basic Linux terminology and helped you to get started with
 Raspberry Pi. Now you should be able <i>google</i> yourself for more information if there is a need and
 don't forget about  <a href="http://www.raspberrypi.org/forums/">Raspberry Pi official forum</a> where
 you can find alot useful information and much help wiht Raspberry Pi. And please don't ever hesitate to
 get in touch with me directly using email below.
<br>
<br>
 One last things, Linux is truly great family of operating systems. Linux is however, part of
 a bigger, Unix family. You don't need to know at this stage any of details, just know that all of the
 commands that you have learned and going to learn are all applicable to all Unix/Linux systems.
</p>

<h4> Some of the popular examples of Unix/Linux family of operating systems</h4>

<ul>
    <li> <a href="http://www.en.wikipedia.org/wiki/Android_(operating_system)">Android OS</a>
         that is used on alot of smart mobile phones
    </li>
    <li><a href="http://www.en.wikipedia.org/wiki/OS_X">Mac OS</a>, Apple's operating system
        that is used on all of the Apples computers
    </li>
    <li><a href="http://www.en.wikipedia.org/wiki/IOS">IPhone OS</a>, Apple's operating system
        that is used on Apple's IPhone products
    </li>
</ul>

<p>
 All the best in your Linux endeavours!
</p>
 
<form method="post">
    <button name="item" value="back2commandsbasics">Back</button>
    <button name="item" value="games">Lets have fun!</button>
</form>

{% endblock %}
