{% extends "base.html" %}

{% block content %}

<h3>Introduction to Command-Line Interface</h3>

<p>
 Command-line interface is a user interface that is used for interacting with a computer, simply put an
 interface is way through which you as a user can interact with a computer. The most common user 
 interface is graphical, that is <mark>Graphical User Interface</mark> or GUI for short. GUI is what
 you see when you log in to your computer at home. You see colorful windows and icons hence graphical
 interface. One other type of interface is <mark>Command-Line Interface</mark> or CLI for short. This
 interface isn't colorfull and there are no icons. However it is just as valid in interacting with a
 computer, infact it is much more powerfull way of interacting with a computer.
</p> 

<iframe width="820" height="485" src="http://www.youtube.com/embed/2EyQkv0-joo"></iframe>

<form method="post">
    <button name="item" value="back2learninglinux">Back</button>
    <button name="item" value="quizcli">Take a Quiz</button>
</form>

{% endblock %}
