{% extends "base.html" %}

{% block content %}

<h3>Lets have some fun playing some python games on your Raspberry Pi!</h3>

<p>
 This is it. You are at the end of you Raspberry Pi project. However this is really just the 
 beginning of some much bigger. There are lots of different applicaiton for your ras

<form method="post">
    <button name="item" value="back2gettingstarted">Back</button>
    <button name="item" value="assemblingpi">Assembling your Raspberry Pi</button>
    <!--<button name="item" value="two">Booting up your Raspberry Pi</button>-->
</form>
{% endblock %}
