{% extends "base.html" %}

{% block content %}

<h3>Getting started with Raspberry Pi</h3>

<p class="gettingready">
 There are a couple of things you will need to do and know before you can start enjoying your
 Raspberry Pi. Obvious first a couple of thing is to make sure you have got all the necessary 
 components, your Raspberry Pi case have been assembled and all peripheries are connected.
 <br>
 <br>
 The next major step in this project will be understanding a very new to you operating system, Linux.
 The particular Linux you will need to learn in order to operate Raspberry Pi is 
 <a href="http://www.raspbian.org/">Raspbian</a>, more on Linux later now lets make sure our
 hardware is all connected and ready to pump electrons.
</p>

<form method="post">
    <button name="item" value="back2raspberry">Back</button>
    <button name="item" value="checkparts">Check that you have all components for your Raspberry Pi</button>
</form>

{% endblock %}
