{% extends "base.html" %}

{% block content %}

<h3>Getting started with Raspberry Pi</h3>

<p class="gettingready">
 There are a couple of things you will need to do and know before you can start enjoying your
 Raspberry Pi. Obvious first a couple of thing is to make sure you have got all the necessary 
 components, your Raspberry Pi case have been assembled and all peripheries are connected.
</p>

<form method="post">
    <button name="item" value="one">Check that you have all components for your Raspberry Pi</button>
</form>

<p class="gettingready">
 The next major step in this project will be understanding a very new to you operating system, Linux.
 Linux is a generic name used to describe a family of operating systems. The particular
 Linux you will need to learn in order to operate Raspberry Pi is 
 <a href="http://www.raspbian.org/">Raspbian</a>. The great thing about Linux family is all of the
 knowledge and skills are transferable among different Linux operating systems and beoynd them.
</p>

<p class="gettingready">
 The most important knowledge about Linux family is understanding of a command-line interface. Once
 you have a solid grasp of the command-line interface you will be able with ease jump on any
 Linux computer and operate it fluently. The command-line interface or CLI for short is absolutely
 crutial for anyone who is interested in operating at the advanace level.     
</p>

<form method="post">
    <button name="item" value="two">Learn Linux and CLI</button>
</form>

{% endblock %}
