{% extends "base.html" %}

{% block content %}

<h2>First Raspberry Pi</h2>
<p>
 Here it is Dima, your first Rraspberry Pi! And you are getting the latest, enhanced, <a href="http://www.raspberrypi.org/products/model-b-plus/">B + model</a>. Hooray !!!
<br>
<br>
 This Raspberry Pi project will teach you fundamentals of computer hardware and software.
 This will be a steep learning curve for you, but  the most rewarding. The project will be major
 milestone in your understanding of computer science, leading you towards the most interesting and
 unquie career. Computer skills are the most central to all professions these days and will be even 
 more so. As a bonus for you hard work you will get Minecraft Pi edition with your Raspberry Pi!
<br>
<br>
</p>
<form method="post">
<button onclick="/raspberrypi">What is Raspberry Pi anyway?</button>
</form>
{% endblock %}
