{% extends "base.html" %}

{% block content %}

<h3>Learning about Linux</h3>

<p>
 Congratulations, you have made it thus far! This next topic is going to be rather challenging for
 you, but the most rewarding by far. 
<br>
<br>
 Linux is an operating system, just like Windows or Macintosh (Apple computers). To be perfectly
 correct Linux is actually the kernel, which is the heart of every modern operating systems. The name
 Linux is used to describe any operating system that are based on Linux kernel. Different operating
 systems that are based on Linux kernel are called distributions.
 <a href="http://www.raspbian.org/">Raspbian</a> is a Linux distribution for Raspberry Pi and we are going
 to learn it. The great thing about Linux is that all of knowledge and skills are transferable amongst
 different Linux distributions.
 <br>
 <br>
  <mark>Here is a great youtube video on Linux:</mark>
 </p>

<iframe  src="http://www.youtube.com/embed/hBvaB8aAp1I" frameborder="0"></iframe>

<form method="post">
    <button name="item" value="back2gettingstarted">Back</button>
    <button name="item" value="quizlinux">Take a Quiz</button>
</form>

{% endblock %}
