{% extends "base.html" %}

{% block content %}

<p>
 You have made it thus far, congratulations! This topic will be one of the most chalenging for you, but
 the most rewarding. We are going to cover three concepts here:

<ol>
    <li>What is Linux?</li>
    <li>What is command-line interface or CLI for short?</li>
    <li>How to use CLI?</li>
</ol>
<br>

<h4>What is Linux?</h4> 
<p>
 Linux is an operating system, just like Windows or Macintosh (Apple computers). To be perfectly
 correct Linux is actually the kernel, which is the heart of every modern operating systems.
 However any modern operating systems wouuld require many other components to make it full functional,
 graphical and user friendly. There are many different Linux based operating systems and they are
 called distributions. Many different distributions would resemble Windows alike environment. 
</p>

<h4>What is command-line interface or CLI for short?</h4> 
<p>
 Command-line interface is a user interface that is used for interacting with a computer, simply put an
 interface is way through which you as a user can interact with a computer. The most common user 
 interface is graphical, that is <mark>Graphical User Interface</mark> or GUI for short. GUI is what
 you see when you log in to your computer at home. You see colorful windows and icons hence graphical
 interface. One other type of interface is <mark>command-line interface</mark> or CLI for short. This
 interface isn't colorfull and there are no icons. However it is just as walid in interacting with a
 computer infact it is much more powerfull way of interacting with a computer.
 <br>
 <br>
 Terminal is a physical device used for data entry and visualisation. 
 When we say terminal we really mean terminal emulator, which is similarly used for data entry and
 visualisation. 
 <br>
 <br>
  Shell is a command interpreter. Commands are typed in command-line interface or CLI for short. There
 are different types of shell interpreters, most common one is BASH.
</p> 

<h4>How to use CLI?</h4> 
<p>
</p> 

<h4>Raspberry Pi B+ model specifications:</h4>
<ul> 
    <li>4 x USB 2.0 ports</li>
    <li>1 x Ether port (for internet connectivity)</li>
    <li>1 x HDMI port for screen connectivity</li>
    <li>1 x 3.5" audio jack</li>
    <li>1 x mini USB for your power supply</li>
    <li>1 x microSD card</li>
</ul>

{% endblock %}
