{% extends "base.html" %}

{% block content %}

<div class="image">
    <h3>Connecting all pirepheries</h3>
    <img src="/home/serine/website/images/image1.jpg" alt="Step one raspberry pi assembly">
    <p id="figure"><b>Figure: 1</b> Attach HDMI cable and miniUSB</p>
</div>

<div class="image">
    <img src="/home/serine/website/images/image2.jpg" alt="Step two raspberry pi assembly">
    <p id="figure"><b>Figure: 2</b> Insert microSD card</p>
</div>

<div class="image">
    <img src="/home/serine/website/images/image3.jpg" alt="Step three raspberry pi assembly">
    <p id="figure"><b>Figure: 3</b> Attach USB mouse and keyborad. If applicable attach ether cable for
    <br> internet connection</p>
</div>

<div class="image">
    <img src="/home/serine/website/images/image4.jpg" alt="Step four raspberry pi assembly">
    <p id="figure"><b>Figure: 4</b> Visual of all pirepheries attached</p>
</div>

<form method="post">
    <button name="item" value="back2parts">Back</button>
    <button name="item" value="linuxandcli">Learn Linux and CLI</button>
</form>

{% endblock %}
