{% extends "base.html" %}

{% block content %}

<h3>Raspberry Pi</h3>
<p>
 Raspberry Pi is a mini computer and you can do with it anything you like. Here is a great video that 
 explains <a href="http://www.raspberrypi.org/help/what-is-a-raspberry-pi/">what Raspberry Pi is?</a>
 Like any computer you can play games on it OR use it to learn things such as Linux operating system
 and Python programing language. Here is great <a href="http://www.raspberrypi.org/resources/learn/">resourse</a>
 on some of the different Raspberry Pi projects. And if you ever get stuck, look for help on 
 <a href="http://www.raspberrypi.org/forums/">Raspberry Pi forum</a>.  
</p>
  
<form method="post">
    <button name="item" value="back2home">Back</button>
    <button name="item" value="quizraspberry">Take a Quiz</button>
    <!--<button name="item" value="gettingstarted">Getting Started with Raspberry Pi!</button>-->
</form>

{% endblock %}
