{% extends "base.html" %}

{% block content %}

<p class="gettingready">
 There are a couple of things you will need to do before you can enjoy Minecraft Pi edition.
 The obvious first thing is to make sure you have got all the necessary components. Then you would
 need to assesmble your Raspberry Pi case and connect it all up. This is all should be striaght forward
 for you. Once you have got your Raspberry Pi and all the peripheries are ready you can go ahead and
 power it on.
 <p>

<ol class="settingup">
     <li><a href="/settingup/stepone">Checking all the componets</a></li>
     <li><a href="/settingup/steptwo">Assembling Raspberry Pi</a></li>
     <li><a href="/settingup/stepthree">Connecting all the pirepheries</a></li>
     <li><a href="/settingup/stepfour">Booting up for the first time</a></li>
</ol>

{% endblock %}
