{% extends "base.html" %}

{% block content %}

<h3>Step 2: Assembling Raspberry Pi</h3>
<img src="/home/serine/website/images/step1.JPG" alt="Step one raspberry pi assembly">
<br>
<img src="/home/serine/website/images/step2.JPG" alt="Step two raspberry pi assembly">
<br>
<img src="/home/serine/website/images/step3.JPG" alt="Step three raspberry pi assembly">
<br>
<img src="/home/serine/website/images/step4.JPG" alt="Step four raspberry pi assembly">
<br>
<img src="/home/serine/website/images/step5.JPG" alt="Step five raspberry pi assembly">
<br>
<img src="/home/serine/website/images/step6.JPG" alt="Step six raspberry pi assembly">
<br>

{% endblock %}
