{% extends "base.html" %}

{% block content %}

<h3 id="correct">Marvellous effort mate!</h3>

<p>
 The most important knowledge about Linux distributions is understanding of a Command-Line Interface
 or CLI for short. Once you have a solid grasp of the command-line interface you will be able with
 ease jump on any Linux computer and operate it easily.
</p>

<form method="post">
    <button name="item" value="back2linux">Back</button>
    <button name="item" value="learningcli">Learn some Linux command</button>
</form>

{% endblock %}
