{% extends "base.html" %}

{% block content %}

<h3 id="correct">Marvellous effort mate!</h3>

<p>
This is very good that you are progressing along well. If you don't fully understand the meaning of
command-line interface, don't worry, it will come to you as your Linux experience grows. In order to
use CLI you need to know Linux commands and that is what we are going to explore next. 
</p>

<form method="post">
    <button name="item" value="back2linux">Back</button>
    <button name="item" value="learningcli">Learn some Linux command</button>
</form>

{% endblock %}
